    form {
      width: 600px;
      margin: auto;
      background-color: #1b1919;
      font-family: Arial, sans-serif;
      border: darkgray 2px solid;
      border-radius: 19px;
    }
    fieldset {
      margin-bottom: 25px;
      padding: 40px;
      border: 1px;
    }
    legend {
      font-weight: bold;
      color: lightgray;
    }
    label {
      display: block;
      margin-bottom: 10px;
      color: lightgray;
    }
    input, select, textarea {
      width: 100%;
      padding: 6px;
      margin-top: 4px;
      border: 1px solid #ccc;
      border-radius: 100px;
      color:#1b1919
    }
    input:focus, select:focus, textarea:focus {
      border-color: #0066cc;
      background-color: #e6f2ff;
      outline: none;
    }
    .error {
      border: 2px solid rgb(255, 61, 61);
      background-color: #ffb1b1;
    }
    .buttons {
      text-align: center;
    }
    button {
      margin: 5px;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      background-color: #2e3135;
      color: rgb(253, 253, 253);
      cursor: pointer;
    }
    button:hover {
      background-color: #b3c4d4;
      color: #1b1919;
    }